
main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        display: flex;
        flex-direction: row;
        margin: 15px;

        button {
            margin-left: 20px;
        }
    }

    .astronauts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        mat-card {
            margin: 10px;
        }
    }
}